@font-face {
    font-family: "Bebas Neue";
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    src: local(''),
        url("font/BebasNeue-Regular.ttf") format("truetype"),
        url('font/BebasNeue-Regular.eot'),  
        url('font/BebasNeue-Regular.woff') format("woff"),
        url('font/BebasNeue-Regular.woff2') format("woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Migra Extrabold";
    src: local(''),
        url("font/Migra-Extrabold.ttf") format("truetype")
        url('font/Migra-Extrabold.eot')   
        url('font/Migra-Extrabold.woff') format("woff"),
        url('font/Migra-Extrabold.woff2') format("woff2"), 

    
}
@font-face {
    font-family: "Playfair Display SemiBold";
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
    src: local(''),
    url("font/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype") 
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');


body{
    background: rgb(19, 18, 18); 
    overflow-x: hidden;
    background-image: url('images/Fragonard\,_The_Swing2.jpg');
    
    background-repeat: no-repeat;
    background-size: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    color: #e6ecf0;
}


/*-----------------HEADER------------------*/
.header {

    background: transparent;
    color: #e6ecf0;
    position: fixed;
     display: flex;
    width: 100%;
    height:1.7vh;
    padding: 3vh;  
    
    /*border-bottom: 1px solid #e6ecf0;*/
    z-index: 1;

}
.name{
    font-family: 'Playfair Display SemiBold', serif;
    font-size: 2vh;
    color: #ffffc2;
}
.state{  
    font-size: 2vh;
    display: flex;
    font-family: 'Bebas Neue';
    float: right;
    margin-left: 2vh;
}
.contact-me{    
    font-family: 'Bebas Neue';
    font-size: 2vh; 
    margin-left: auto; 
    margin-right:7vh;
}
.header a{
    position: relative;
    color: #e6ecf0;
    text-decoration: none;
    letter-spacing:0.5px;
    padding: 0 10px;
    
}
.header a:after{
    content: "";
    position: absolute;
    background-color: #e6ecf0;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
   
}
.header a:hover:after{
    width: 100%; 
}

.header .name a{
    position: relative;
    color: #ffffc2;
    text-decoration: none;
    letter-spacing:0.5px;
    padding: 0 10px;    
}
.header .name a:after{ 
    height: 0px; 
}
.header .name a:hover:after{
    width: 100%; 
}


#ligne{
    border-top: 1px solid #e6ecf0;
    width: 97%;
    margin-left: auto;margin-right: auto;
    position: relative;
    top: 7vh;
} 
  

/*-----------------END HEADER------------------*/
::-webkit-scrollbar {
    display: none;
} 
img{
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
/*------------text reveal-----------*/
[class*="reveal-"]{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2{
   transition-delay: 0.5s;
}

/*------------end text reveal-----------*/
 .p{
    font-size: 3vh;
    font-family: 'Bebas Neue';
    padding: 4vh;padding-top: 8vw;
 }


 .p2{
    font-size: 3vh;
    font-family: 'Bebas Neue';
    padding: 4vh;
 }

 .p2 ul{
    padding-left: 20vw;
 }
 .p2 li{
    position: relative;
    top: -2vh;
    color: #e6ecf0;
 }
 .p2 a{
    color: #e6ecf0;
 }
 .p2 a:hover{
    color: #ffffc2;
 }
 .p2_joke{
    color: #ffffc2;
    font-family: 'Playfair Display SemiBold', serif,'Bebas Neue';
    position: relative;
    top: -4vh;
    font-size: 2vh;
 }