@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@1,500&display=swap');
    src: local(''),
        url("font/BebasNeue-Regular.ttf") format("truetype")
        url('font/BebasNeue-Regular.eot')   
        url('font/BebasNeue-Regular.woff') format("woff")
        url('font/BebasNeue-Regular.woff2') format("woff2");
}


@font-face {
    font-family: "Migra Extrabold";
    src: local(''),
        url("font/Migra-Extrabold.ttf") format("truetype")
        url('font/Migra-Extrabold.eot')   
        url('font/Migra-Extrabold.woff') format("woff")
        url('font/Migra-Extrabold.woff2') format("woff2");  
    
}
@font-face {
    font-family: "Playfair Display SemiBold";
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
    src: local(''),
    url("font/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype")
  
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

.header {

    background: transparent;
    color: #e6ecf0;
    position: fixed;
     display: flex;
     top: 0;
    width: 100%;
    height:1.7vh;
    padding: 3vh;  
    
    /*border-bottom: 1px solid #e6ecf0;*/
    z-index: 1;

}
.name{
    font-family: 'Migra Extrabold';
    font-size: 2vh;
    color: #ffffc2;
}
.state{  
    font-size: 2vh;
    display: flex;
    font-family: 'Bebas Neue';
    float: right;
    margin-left: 2vh;
}
.contact-me{    
    font-family: 'Bebas Neue';
    font-size: 2vh; 
    margin-left: auto; 
    margin-right:7vh;
}

.header a{
    position: relative;
    color: #e6ecf0;
    text-decoration: none;
    letter-spacing:0.5px;
    padding: 0 10px;
    
}
.header a:after{
    content: "";
    position: absolute;
    background-color: #e6ecf0;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
   
}
.header a:hover:after{
    width: 100%; 
}

.header .name a{
    position: relative;
    color: #ffffc2;
    text-decoration: none;
    letter-spacing:0.5px;
    padding: 0 10px;    
}
.header .name a:after{ 
    height: 0px; 
}
.header .name a:hover:after{
    width: 100%; 
}


#ligne{
    position: sticky;
    top: 7vh;
    border-top: 1px solid #e6ecf0;
    width: 97%;
    margin-left: auto;
    margin-right: auto;  
} 

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(19, 18, 18); 
    overflow-x: hidden;
    background-image: url('images/Fragonard\,_The_Swing2.jpg');
    background-repeat: no-repeat;
 background-size: 100%;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

::-webkit-scrollbar {
    display: none;
} 
img{
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.img{
    cursor: url('images/knight1.png'), auto;
}
.img:active{
    cursor: url('images/knight3.png'), auto;
}

.anotation{
    font-family: 'Migra Extrabold';
    color: #ffffc2;
    font-size: 2.5vh;
    
    padding-left: 5vh;
    margin-top: -5vh;
}
.paragraphe{
    color:#e6ecf0 ;
    font-size: 4vh;
    font-family: 'Bebas Neue';
   padding-top: 7vh;
    padding-left: 5vh;
}


.main{
    text-transform: uppercase;
    color: #ffffc2;
    font-family: 'Bebas Neue';
    font-size: 3vh;
    
}
.container{
    display: flex;
    position: relative;

    width: 60vh;
    height: 59vh;
    border-radius: 30px;
    margin-top: -4vh;
   
}

.projet1{
    position: relative;
    top: 3vh; left: 7vw;
}
.para{
    position: relative;
    margin-left: -12vh;
    color: #e6ecf0;
}
.arrow{
    position: relative;
    top: -54vh;left: 35vw;
    width: 8vw;
    transform : rotate(-50deg);
}
#joke{
    position: relative;
    color: #e6ecf0;
}
.projet1 #slime1{
    position: relative;
    left: -15vh;top: 5vh;
    width: 10vh;height: 10vh;
}
.projet1 #slime2{
    position: relative;
    left: -50vh;top: 35vh;
    width: 7vh;height: 7vh;
}
.titre1{
display: flex;
}
.titre1 h1{
    font-family: 'Migra Extrabold'; 
    }
.titre1 p{
   padding-top: 3.5vh;
   padding-left: 3vh;
   color: #e6ecf0;
}


.knight{
    height: 30vh;width: auto;
}
.bigslime{
    height: 25vh;width: auto;
    z-index: -1;
    position: relative;
    left: -10vh;top: 5vh;
}








.projet2{
margin-left: 14vh;margin-top: 20vh;  float: right;
margin-right: 5vh;
}
.titre2{
    display: flex;margin-bottom: -4vh;
    margin-left: 55vw;
    
}
.titre2 h1{
    font-family: 'Migra Extrabold'; 
    
    }
.titre2 p{
   padding-top: 3.5vh;
   padding-left: 3vh;
   color: #e6ecf0;
}
.container2{
    display: flex;padding-bottom: 5vh;
}

.container2 p{
    position: relative;
   float: left;
   color: #e6ecf0;
    left: 15vw;
    top: 10vh;   
}



/*------------text reveal-----------*/
[class*="reveal-"]{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2{
   transition-delay: 0.5s;
}

/*------------end text reveal-----------*/
 